:root {
    --gray-border: #ececec;
    --gray-text-color: #7E7E7E;
    --green-light-color: #3BB77E;
}
@font-face {
    font-family: "lato-light";
    src: url("assets/fonts/Lato-Regular.ttf");
}
@font-face {
    font-family: "lato-bold";
    src: url("assets/fonts/Lato-Black.ttf");
}
@font-face {
    font-family: "qicksand-bold";
    src: url("assets/fonts/Quicksand-Bold.ttf");
}
@font-face {
    font-family: "qicksand-medium";
    src: url("assets/fonts/Quicksand-Medium.ttf");
}
* {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    flex-direction: column;

}

.site-wrapper {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}
